@font-face {
    font-family: myFirstFont;
    src: url(Joystix.TTF);
    font-weight: bold;
}
*
{
    font-family: myFirstFont;
    letter-spacing: 0.1vw;
}
html, body {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
#login {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    border: 4px solid black;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: #ff6600;
    border-radius: 15px;

    box-shadow: 0 0.5vh black;
    position: absolute;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    color: white;
    background-color: black;
}
#mCanvas
{
    align-content: center;
    align-items: center;
}

.canvas
{
    position: absolute;
    top:150px;
    left:0;
    /*height:613px;*/
    /*width: 100%;*/


}
nav
{
    position: absolute;
    top:10vh;
    left:0;
    height:5vh;
    width: 100%;
    color: black;
    background-color: black;
    font-size: 1.2vw;

}

footer
{
    position: absolute;
    border: solid black 5px;
    bottom: 0;
    left: 0;
    height: 10vh;
    width: 100%;
    color: white;
    background-color: black;
    align-content: center;
}
.divFillParent
{

    position: relative;
    width: 100%;
    height: 100%;
    top:0;


}
.divOverlapping
{
    position: absolute;
    top:15vh;
    left:0;
    height:75vh;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    background-color: black;
}
.divMessages
{

    position: absolute;
    top:15vh;
    left:0;
    height:75vh;
    width: 100%;
    align-items: center;
    background-color: transparent;
    z-index: 50;
}

.divOverlapping2
{
    border: dotted red 1px;
    position: absolute;
    top:15vh;
    left:0;
    height:75vh;
    width: 100%;
    align-items: center;
    background-color: lightblue;
}


.canvas
{
    padding: 0;
    margin: auto;
    display: block;
    /*width: 800px;*/
    /*height: 600px;*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    /*padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;*/

   /* position: absolute;
    top:0px;
   // left:150px;*/

}
.canvasbotton {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.Messages
{
    position: absolute;
    z-index: 1;
    margin: 0 auto;
    top:10vh;
    border-radius: 25px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    border: 4px solid black;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: #ff6600;
    border-radius: 15px;
    margin: 10vh 37vw 5vh 37vw;
    box-shadow: 0 0.5vh black;
    height: auto;
    width: auto;
}
#scoreAndTime
{
    position: absolute;
    z-index: 1;
    margin: 0 auto;
    top:10vh;
    border-radius: 25px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    border: 4px solid black;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: #ff6600;
    border-radius: 15px;
    margin-left: 10vw;
    box-shadow: 0 0.5vh black;
    height: auto;
    width: auto;
}
.fontfooter
{
    font-size: 100%;
    color: white;
    text-align: center;
    vertical-align:bottom;
    text-transform: uppercase;
}
.fontmenu
{
    font-size: 100%;
    color: red;
    text-align: center;
    font-weight: 800;
    line-height: 0;
    vertical-align: top;
    cursor: pointer;
}
.imgheder {
    position: absolute;
    left: 35vw;
    top:0;
    display: block;
    width: 30vw;
    height: 100%;

}
#menu
{
    background-color: black;

}

.form {
    min-height: 20vh;
    min-width: 20vw;
    position: absolute;
    z-index: 1;
    margin: 0 auto;
    top:10vh;
    border-radius: 25px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    border: 4px solid black;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: #ff6600;
    border-radius: 15px;
    margin: 10vh 37vw 5vh 37vw;
    box-shadow: 0 0.5vh black;
    height: auto;
    width: auto;

}
.formChoice {
    width-min:20vw ;
    position: absolute;
    z-index: 1;
    margin-top: 0;
    top:0vh;
    border-radius: 25px;
    display: inline-block;
    padding: 2vh 0.1vw;
    font-size: 0.75vw;
    border: 4px solid black;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: #ff6600;
    border-radius: 15px;
    margin: 1vh 37vw 5vh 37vw;
    box-shadow: 0 0.5vh black;
    height: auto;
    width: auto;
}


.divOverlappingWelcome{
    position: absolute;
    top:15vh;
    left:0;
    height:75vh;
    width: 100%;
    align-items: center;
    background-image: url(vangoch.jpg);
    background-size: 100% 100%;

}
.smallButton
{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    border: 4px solid black;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: yellow;
    border-radius: 15px;
    margin-right: 4vw;
    margin-left: 4vw;
    margin-top: 3.5vh;
    box-shadow: 0 0.5vh black;
    position: relative;
}
.twoSmallButtonsMessage
{

    display: inline-block;
    padding: 0.5vh 0.5vw;
    font-size: 1.5vw;
    cursor: pointer;
    border: 4px solid black;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: yellow;
    border-radius: 15px;
    margin-right: 0.3vw;
    margin-left: 0.3vw;
    margin-top: 3vh;
    box-shadow: 0 0.2vh black;
    position: relative;
}
.scoreMessage
{
    margin-bottom: 0;
}
.twoSmallButtons
{
    display: inline-block;
    padding: 15px 25px;
    font-size: 1.5vw;
    cursor: pointer;
    border: 4px solid black;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: yellow;
    border-radius: 15px;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
    margin-top: 3.5vh;
    box-shadow: 0 0.2vh black;
    position: relative;
}
.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    border: 4px solid black;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: #ff6600;
    border-radius: 15px;

    box-shadow: 0 0.5vh black;
    position: absolute;
}

.button:hover {background-color: yellow}

.button:active {
    background-color: yellow;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modalHeader {
    margin-top: 0;
    background-color: red;
    color: black;
    font-size: large;
}
.modal-content {
    background-color: #ff6600;
    margin: 15vw auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 40vw; /* Could be more or less, depending on screen size */
    height: 30vh;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 0.5vw;
    margin-top: 0;
    padding: 0;
}
.modalBody {
    padding: 2px 16px;
    color: white;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
option {
    font-size: small;
}
#input50-90::-webkit-input-placeholder {
    font-size: small;

    line-height: 3;
}

select
{
    display:inline-block; vertical-align:top; overflow:hidden;
}



form
{
    max-width: 600px;
    text-align: center;
    margin: 20px ;}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

#contact label{
    display: inline-block;
    width: 100px;
    text-align: right;
}
#contact_submit{
    padding-left: 100px;
}
#contact {
    width-min:20vw ;
    position: absolute;
    z-index: 1;
    margin-top: 0;
    top:0vh;
    border-radius: 25px;
    display: inline-block;
    padding: 2vh 0.1vw;
    font-size: 0.75vw;
    border: 4px solid black;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: #ff6600;
    border-radius: 15px;
    margin: 1vh 37vw 5vh 37vw;
    box-shadow: 0 0.5vh black;
    height: auto;
    width: auto;

}
textarea{
    vertical-align: top;
    height: 5em;
}

.error{
    display: none;
    margin-left: 10px;
}

.error_show{
    color: #ff4236;
    margin-left: 10px;
}

input.invalid, textarea.invalid{
    border: 2px solid red;
}

input.valid, textarea.valid{
    border: 2px solid green;
}
#Register
{
    background-image: url(9622.jpg);

}