html, body {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
.login {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    color: white;
    background-color: black;
}
#mCanvas
{
    align-content: center;
    align-items: center;
}

.canvas
{
    border: dotted red 5px;
    position: absolute;
    top:150px;
    left:0;
    /*height:613px;*/
    /*width: 100%;*/


}
nav
{
    position: absolute;
    top:100px;
    left:0;
    height:50px;
    width: 100%;
    color: black;
    background-color: white;

}

footer
{
    position: absolute;
    border: solid black 5px;
    top: 763px;
    left: 0;
    height: 100px;
    width: 100%;
    color: white;
    background-color: black;
    align-content: center;
}
.divFillParent
{
    border: dashed blue 1px;
    position: relative;
    width: 100%;
    height: 100%;


}
.divOverlapping
{
    border: dotted red 1px;
    position: absolute;
    top:150px;
    left:0;
    height:613px;
    width: 100%;
    align-items: center;
    background-color: lightblue;
}



.canvas
{
    padding: 0;
    margin: auto;
    display: block;
    /*width: 800px;*/
    /*height: 600px;*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    /*padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;*/

   /* position: absolute;
    top:0px;
   // left:150px;*/

}
.canvasbotton {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.fontfooter
{
    font-family: Arial;
    font-size: 100%;
    color: white;
    text-align: center;
    vertical-align:bottom;
    text-transform: uppercase;
}
.fontmenu
{
    font-family: Arial;
    font-size: 100%;
    color: yellow;
    text-align: center;
    font-weight: 800;

}
.imgheder {
    position: absolute;
    left: 40%;
    top:0;
    display: block;
    width: 20%;
    height: 100%;

}
#menu
{
    background-color: lightgrey;

}

.form {

    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    background-color: lightgrey;
    top:100px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    border-radius: 25px;

}
.formChoice {

    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    background-color: lightgrey;
    top: 100px;
    border-radius: 25px;
}

.fontchice
{
    font-family: Arial;
    font-size: 90%;
    color: black;
    text-align: center;
    font-weight: 600;

}
.button {

    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;


}
.button:hover {background-color: #3e8e41}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
@font-face {
    src: url(Joystix.TTF) format("truetype");
}