@font-face {
    font-family: myFirstFont;
    src: url(Joystix.TTF);
    font-weight: bold;
}
*
{
    font-family: myFirstFont;
    letter-spacing: 0.1vw;
}
html, body {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
.login {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    color: white;
    background-color: black;
}
#mCanvas
{
    align-content: center;
    align-items: center;
}

.canvas
{
    border: dotted red 5px;
    position: absolute;
    top:150px;
    left:0;
    /*height:613px;*/
    /*width: 100%;*/


}
nav
{
    position: absolute;
    top:10vh;
    left:0;
    height:5vh;
    width: 100%;
    color: black;
    background-color: black;
    font-size: 1.2vw;

}

footer
{
    position: absolute;
    border: solid black 5px;
    bottom: 0;
    left: 0;
    height: 10vh;
    width: 100%;
    color: white;
    background-color: black;
    align-content: center;
}
.divFillParent
{

    position: relative;
    width: 100%;
    height: 100%;
    top:0;


}
.divOverlapping
{

    position: absolute;
    top:15vh;
    left:0;
    height:75vh;
    width: 100%;
    align-items: center;
    background-color: lightblue;
}
.divMessages
{

    position: absolute;
    top:15vh;
    left:0;
    height:75vh;
    width: 100%;
    align-items: center;
    background-color: transparent;
    z-index: 50;
}

.divOverlapping2
{
    border: dotted red 1px;
    position: absolute;
    top:15vh;
    left:0;
    height:75vh;
    width: 100%;
    align-items: center;
    background-color: lightblue;
}


.canvas
{
    padding: 0;
    margin: auto;
    display: block;
    /*width: 800px;*/
    /*height: 600px;*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    /*padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;*/

   /* position: absolute;
    top:0px;
   // left:150px;*/

}
.canvasbotton {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.fontfooter
{
    font-family: Arial;
    font-size: 100%;
    color: white;
    text-align: center;
    vertical-align:bottom;
    text-transform: uppercase;
}
.fontmenu
{
    font-size: 100%;
    color: red;
    text-align: center;
    font-weight: 800;
    line-height: 0;
    vertical-align: top;
    cursor: pointer;
}
.imgheder {
    position: absolute;
    left: 35vw;
    top:0;
    display: block;
    width: 30vw;
    height: 100%;

}
#menu
{
    background-color: black;

}

.form {

    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    background-color: lightgrey;
    top:100px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    border-radius: 25px;

}
.formChoice {

    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    background-color: lightgrey;
    top: 100px;
    border-radius: 25px;
}

.fontchice
{
    font-family: Arial;
    font-size: 90%;
    color: black;
    text-align: center;
    font-weight: 600;

}
.divOverlappingWelcome{
    position: absolute;
    top:15vh;
    left:0;
    height:75vh;
    width: 100%;
    align-items: center;
    background-image: url(vangoch.jpg);
    background-size: 100%;

}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    border: 4px solid black;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: #ff6600;
    border-radius: 15px;

    box-shadow: 0 0.5vh black;
    position: absolute;


}

.button:hover {background-color: yellow}

.button:active {
    background-color: yellow;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


form
{
    max-width: 600px;
    text-align: center;
    margin: 20px ;}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

#contact label{
    display: inline-block;
    width: 100px;
    text-align: right;
}
#contact_submit{
    padding-left: 100px;
}
#contact div{
    margin-top: 1em;
}
textarea{
    vertical-align: top;
    height: 5em;
}

.error{
    display: none;
    margin-left: 10px;
}

.error_show{
    color: #ff4236;
    margin-left: 10px;
}

input.invalid, textarea.invalid{
    border: 2px solid red;
}

input.valid, textarea.valid{
    border: 2px solid green;
}