html, body {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    color: white;
    background-color: black;
}
#mCanvas
{
    align-content: center;
    align-items: center;
}

.canvas
{
    border: dotted red 5px;
    position: absolute;
    top:150px;
    left:0;
    /*height:613px;*/
    /*width: 100%;*/


}
nav
{
    position: absolute;
    top:100px;
    left:0;
    height:50px;
    width: 100%;
    color: black;
    background-color: white;

}

footer
{
    position: absolute;
    border: solid black 5px;
    top: 763px;
    left: 0;
    height: 100px;
    width: 100%;
    color: white;
    background-color: black;
    align-content: center;
}
.divFillParent
{
    border: dashed blue 1px;
    position: relative;
    width: 100%;
    height: 100%;


}
.divOverlapping
{
    border: dotted red 1px;
    position: absolute;
    top:150px;
    left:0;
    height:613px;
    width: 100%;
    align-items: center;
}
.canvas
{
    padding: 0;
    margin: auto;
    display: block;
    /*width: 800px;*/
    /*height: 600px;*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    /*padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;*/

   /* position: absolute;
    top:0px;
   // left:150px;*/

}

.fontfooter
{
    font-family: Arial;
    font-size: 100%;
    color: white;
    text-align: center;
    vertical-align:bottom;
    text-transform: uppercase;
}
.fontmenu
{
    font-family: Arial;
    font-size: 100%;
    color: yellow;
    text-align: center;
    font-weight: 800;

}
.imgheder {
    position: absolute;
    left: 40%;
    top:0;
    display: block;
    width: 20%;
    height: 100%;

}
#menu
{
    background-color: lightgrey;

}